body {
    background-color: lightgreen;
}
  .container {
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            border-radius: 20px;
            border: solid;
        }